body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 70px;
}

.navbar h2 {
  margin-left: 40px;
  font-size: 24px;
}

.navbar a {
  text-decoration: none;
}

.card-container {
  padding: 44px;
  display: flex;
}

.form-group {
  padding: 0 44px;

}







